<h1>ログイン</h1>
<div class="ui form">
  <%= form_with scope: :session, url: login_path, local: true do |f|%>
    <div class="field">
      <%= f.label :name, "名前" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "パスワード（確認）" %>
      <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit "ログイン", class: "ui button" %>
  <% end %>
</div>